<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.mobillaborandroidapp">

    <application
            android:name="com.example.mobillaborandroidapp.MobilLaborApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Mobil Labor App"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity"
            android:label="MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobillaborandroidapp.ui.addMovie.AddMovieActivity"
            android:label="AddMovieActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.mobillaborandroidapp.ui.movie.MovieActivity"
            android:label="MovieActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>